[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
peewee = "*"
flask-jwt-extended = "*"
marshmallow = "*"
rich = "*"
flask-cors = "*"
sentry-sdk = {extras = ["flask"], version = "*"}
peewee-migrate = "*"

[dev-packages]

[requires]
python_version = "3.9"
